@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.title {
  color: #0a0a14;
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
  width: 100%;
  min-width: min-content;
  text-align: center;
}

.pf {
  font-family: "Playfair Display", serif;
}

.hashtag {
  padding: 6px 20px 10px 20px;
  border-radius: 4rem;
  background: #fff;

  color: #000;
  font-family: "Playfair Display";
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.05rem;
}

.dark {
  background-color: #525252;
  color: white;
}

.relative-top-45 {
  position: relative;
  top: 45%;
}
